/*!
 * SILVERSTRIPE SECURITY TEMPLATES
 * In the style of SilverStripe CMS
 *
 * By Colin Richardson
 * http://www.bigfork.co.uk
 *
 * WTFPL
 * http://en.wikipedia.org/wiki/WTFPL
 */

.cms-logo a { background-image: url('../images/logo.png'); }
