/*!
 * SILVERSTRIPE SECURITY TEMPLATES
 * In the style of SilverStripe CMS
 *
 * By Colin Richardson
 * http://www.bigfork.co.uk
 *
 * WTFPL
 * http://en.wikipedia.org/wiki/WTFPL
 */

/* CSS RESET */
@import 'reset';

// Standard Colours
$sec-black: #000;
$sec-blue: #00558d;
$sec-blue--dark: #3e536f;
$sec-green: #008c00;
$sec-green--dark: #006400;
$sec-grey: #444;
$sec-white: #fff;


// Element-specific colours
$sec-bg: #e4edf1;
$sec-border-light: rgba(#f5f3f3, .4);
$sec-input-bg: $sec-white;
$sec-input-border: #bfcadb;

// Feature-specific-colours
$sec-shadow: rgba(#7d7d7d, .32);

$sec-box-header-light: #002e4f;
$sec-box-header-dark: #001220;
$sec-box-header-border: #728d9e;
$sec-box-header-divider: #13435e;

$sec-action-primary-light: #93be42;
$sec-action-primary-mid: #1f9433;
$sec-action-primary-dark: #166a24;

$sec-action-primary-light-on: #a4ca3a;
$sec-action-primary-mid-on: #23a93a;

$sec-message-bad: #b94a48;
$sec-message-bad-bg: #f2dede;
$sec-message-bad-border: #eed3d7;

$sec-message-good: $sec-white;
$sec-message-good-bg: $sec-action-primary-mid;
$sec-message-good-border: $sec-action-primary-dark;


/* SILVERSTRIPE SECURITY TEMPLATES
---------------------------------------------------------------------------------- */

body {
	background: $sec-white;
	font: 62.5% arial,sans-serif;
}

#top {
	width: 540px;
	margin: 50px auto 0;
    box-shadow: 0 2px 6px $sec-shadow;
}

header {
	position: relative;
	width: 490px; height: 40px;
	padding: 0 0 0 50px;
	color: $sec-white;
	background: $sec-blue;
	font-weight: bold;
	font-size: 140%; line-height: 40px;

	span {
		position: absolute; top: 8px; left: 0;
		display: block;
		width: 40px; height: 24px;
		border-right: 1px solid $sec-border-light;
		background: url('../images/logo.svg') no-repeat 50% 50%;
	}
}

form,
.content {
	padding: 20px;
	background: $sec-bg;
	font-size: 120%;

    * {
        box-sizing: border-box;
    }
}

/* STYLES FOR THE DEFAULT FIELD DIVS THAT SILVERSTRIPE CREATES */

.field {
	&.text {
		float: left;
		width: 240px;
		margin: 0 0 10px;

		label {
			font-weight: bold;
		}
	}

	&.password {
		float: right;
	}

	&#ChangePasswordForm_ChangePasswordForm_OldPassword_Holder,
	&#ChangePasswordForm_ChangePasswordForm_NewPassword1_Holder {
		float: left;
		clear: left;
	}

	&.checkbox {
		clear: both;
		width: 100%;
		margin: 0 0 15px;
	}
}

/* LABELS 'N' INPUTS */

label {
	display: inline-block;
	margin: 0 0 2px 2px;
	color: $sec-blue--dark;

	&.right {
		margin-left: 5px;
	}
}

input {
    border-radius: 4px;
	font-size: 100%;

	&.text {
		width: 100%;
		padding: 6px;
		border: 1px solid $sec-input-border;

		&:focus {
			transition: border 0.2s ease-in 0s;
		}
	}

	&.checkbox {
		margin: 0;
	}
}

/* BUTTONS! */

.btn-toolbar {
	overflow: hidden;
	width: 100%;

	p {
		float: right;
		width: 240px;
		margin: 10px 0 0;
		text-align: right;
	}
}

.action {
	float: left;
	margin: 5px 0; padding: 5px 15px;
	border: 0;
	border-radius: 4px;
	color: $sec-white;
	background: $sec-green;
	font-size: 13px;
	cursor: pointer;

	&:hover {
		background: $sec-green--dark;
	}
}

/* CONFIRMATION MESSAGES */

.message {
	margin: 0 0 1em; padding: 10px;
	border: 1px solid $sec-message-bad-border;
	color: $sec-message-bad;
	background: $sec-message-bad-bg;
	font-weight: bold;

	&.good {
		border: 1px solid $sec-message-good-border;
		color: $sec-message-good;
		background: $sec-message-good-bg;
	}
}

/* LOST PASSWORD VARIANT */

#MemberLoginForm_LostPasswordForm {
	input {
		&.text {
			width: 100%;
		}
	}
}

/* CHOOSE NEW PASSWORD */

#ChangePasswordForm_ChangePasswordForm {
	padding-top: 0;
}

/* ANCHORS */

a {
	text-decoration: underline;

	&:link,
	&:visited {
		color: $sec-blue--dark;
	}

	&:hover,
	&:active {
		color: $sec-black;
	}
}
